body {
  background-color: #E1D1F1;
  font-family: "Georgia", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  padding: 1.6em 0 0 0;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin', sans-serif;
  color: #444;
}

#header h1 { 
  font-weight: normal;
  font-size: 4em;
  line-height: 0.8em;
  letter-spacing: -0.05em;
	margin: 5px;
}

#toc {
  line-height: 1.2em;
  font-size: 0.9em;
}

#toc li {
  line-height: 1.15em;
}

ul {
  list-style-type: square;
}

li {
  padding: 0;
  margin: 0;
}

a {
  color: #5E5AFF;
  font-weight: normal;
  text-decoration: underline;
}

.coda {
  text-align: right;
  color: #77f;
  font-size: smaller;
}

pre, code {
  font-family: 'Inconsolata', monospace;
  font-size: 90%;
  line-height: 1.4em;
  color: #ff8;
  background-color: #111;
  padding: 2px 10px 2px 10px;
}

.teardrop-corners {
  behavior: url(stylesheets/border-radius.htc);
  /*
   * -moz-border-radius: 10px;
   * -webkit-border-radius: 10px;
   * -khtml-border-radius: 10px;
   * border-radius: 10px;
   */
  -webkit-border-top-left-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
  -moz-border-radius-topleft: 50px;
  -moz-border-radius-bottomright: 50px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

#toc {
  border: 3px solid #141331;
  line-height: 1.2em !important;
  font-size: 0.8em !important;
  padding: 0;
}

#toc h1 {
  margin-left: 1em;
}

#toc li {
  line-height: 1.2em;
}

#version {
  text-align: right;
  font-family: 'Cabin', sans-serif;
  font-weight: normal;
  background-color: #B3ABFF;
  color: #141331;
  padding: 10px 20px 10px 20px;
  margin: 0 auto;
	margin-top: 15px;
  margin-bottom: 15px;
  border: 3px solid #141331;
}

#version .numbers {
  display: block;
  font-size: 4em;
  line-height: 0.8em;
  letter-spacing: -0.2ex;
	margin-bottom: 15px;
}

#version p {
  text-decoration: none;
	color: #141331;
	background-color: #B3ABFF;
	margin: 0;
	padding: 0;
}

#version a {
  text-decoration: none;
	color: #141331;
	background-color: #B3ABFF;
}

.clickable {
	cursor:	pointer; 
	cursor:	hand;
}

